.navbar {
  background-color: #64B22C;
}

.nav-link {
  text-decoration: none;
  color: green;
  font-size: 1.2rem;
}

.sr-only {
  display: none;
}
.pagination {
  justify-content: end;
}
.pageHeaadText{
  text-align: center;
}

.alert{
  margin-bottom: 0;
}